<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900427758658-l647l5633c1a0rf06trj4r3gv2ngt6hi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900427758658-l647l5633c1a0rf06trj4r3gv2ngt6hi</string>
	<key>API_KEY</key>
	<string>AIzaSyA4kJckxA9W4S_PGMrDHerhIicLGtbmmWg</string>
	<key>GCM_SENDER_ID</key>
	<string>900427758658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>boxell.Antoja2</string>
	<key>PROJECT_ID</key>
	<string>antoja2-271ed</string>
	<key>STORAGE_BUCKET</key>
	<string>antoja2-271ed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900427758658:ios:bb57e47283381b6a6fc1db</string>
</dict>
</plist>